/**modal**/
.details{
    margin: auto;
  max-width: 75%;
  background-color: #C4B5FD;
    padding: 20px;
}
.movie-info p{
    color: goldenrod;
    font-weight: bold;
    background-color: hsl(264, 67%, 35%);
    padding: 2px 0;
    border: 1px transparent;
    border-radius: 5px;
}
.movie-overview{
    padding: 15px;
    text-align: justify;
}

p span{
    font-weight: bold;
}
.bck-btn{
    padding: 10px ;
  background-color: #6747e6 !important;
  border: 1px transparent;
  border-radius: 5px;
  margin-right: 90%;
  font-weight: bold;
}

.ubtn{
    margin: 25px;
    width: 100%;
    color: white !important;
    background-color: red !important;
}